.room{
	width : 100%;
	min-height: 100vh;
    background: #36393F;
	color: #ACD0DE;	
	padding-top: 50px;

	.video-col{
		margin: 0 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
			
			.video-container{
				display: none;
				position: relative;
				z-index: 3;
				display: flex;
				flex-direction: column;
				width: 80%;
				background: #2F3136;
				position: relative;
				border-radius: 5px;
				border: solid 2px #2F3136;

				.video-max{
					background-color: red;
					padding: 1rem;
					width: 100%;
					position: relative;
					height: 100%;
					padding-top: 56.25%;
				
					border-radius: 5px;
					display: flex;
				}
				.video-label{
					position: relative;
					z-index: 10;
					width: 100%;
					height: auto;
					margin-top: auto;
					margin-left: 1rem;
				}

				.video-min{
					background-color: greenyellow;
					padding: 1rem;
					width: 10%;
					// padding-top: 20%;
					
					border-radius: 5px;
					margin-top: auto;
					margin-left: auto;
					margin-bottom: 1rem;
					margin-right: 1rem;
					position: relative;
					z-index: 4;

					// .volunteer-vid{
					// 	height: 100%;
					// 	width: 100%;
					// }
				}
			}

	}

	.call-col{
		border-radius: 5px;
		margin: 0 4rem;
	}
	.utility-col{
		.container{
			background-color: #FFEB3B ;
			border-radius: 5px;
			padding: 2rem;	
		}
	}

}

.call-icon{
	width: 100%;
	height: 100%;
	width: 50px;

}

.ek-outline-icon{
	fill: #fff !important;
	width: 70px;
}

.connection{
	display: flex;
	padding: 1rem;

	font-weight: bold;
	border-radius: 4%;
	color: #41A97A;
	border: 2px solid #41A97A;
}

.not-connection{
	display: flex;
	padding: 1rem;
	border-radius: 4%;
	color: #c53636;
	font-weight: bold;

	border: 2px solid #c53636;
}


.wait-connection{
	font-weight: bold;
	display: flex;
	padding: 1rem;
	border-radius: 4%;
	color: #f0ff10;
	border: 2px solid #f0ff10;
}