.room{
	width : 100%;
	min-height: 100vh;
	background-color: #1789FC;
	padding-top: 50px;

	.video-col{
		margin: 0 2rem;
		display: flex;
		// flex-direction: column;
		justify-content: center;
		align-items: center;
		// .container{
		// 	display: flex;
		// 	justify-content: center;

		// 	align-items: center;
		// 	margin: 1rem 0;
			
			.video-container{
				display: none;
				position: relative;
				z-index: 3;
				display: flex;
				flex-direction: column;
				width: 100%;
				// padding-top: 47.25%;
				box-shadow:  17px 17px 35px #1474d6,
							 -17px -17px 35px #1a9eff;
				
				position: relative;
				border-radius: 5px;
				border: solid 2px white;

				.video-max{
					background-color: red;
					padding: 1rem;
					width: 100%;
					position: relative;
					height: 100%;
					padding-top: 56.25%;
				
					border-radius: 5px;
					display: flex;
				}
				.video-label{
					position: relative;
					z-index: 10;
					width: 100%;
					height: auto;
					margin-top: auto;
					margin-left: 1rem;
				}

				.video-min{
					background-color: greenyellow;
					padding: 1rem;
					width: 10%;
					// padding-top: 20%;
					
					border-radius: 5px;
					margin-top: auto;
					margin-left: auto;
					margin-bottom: 1rem;
					margin-right: 1rem;
					position: relative;
					z-index: 4;

					// .volunteer-vid{
					// 	height: 100%;
					// 	width: 100%;
					// }
				}
			}

	}

	.call-col{
		border-radius: 5px;
		margin: 0 4rem;
	}
	.utility-col{
		.container{
			background-color: #FFEB3B ;
			border-radius: 5px;
			padding: 2rem;	
		}
	}

}