.signin{
    min-height: 100vh;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0 30px 0;
    
    .form-neo{
        max-width: 500px;
        width: 60%;
        border-radius: 30px;
        background: linear-gradient(145deg, #171717, #1c1c1c);
        box-shadow:  10px 10px 20px #0f0f0f,
                    -10px -10px 20px #252525;
        padding: 1rem 2rem;
        margin: 0 1rem;
    }
}