@import 'vars';

*{
    padding:0;
    margin:0;
    font-family: $head-font;
}
  
  html, body, #root{
    width: 100%;
    height: 100%;
  }

.overflow-none{
    overflow: hidden;
}

.navbar{
  background-color: $navbar;

}

.logo-text{
  background-position: center;
  background-repeat: no-repeat !important;
  width: 40px;
  height: 40px;
  margin: 0;
  display: flex;
}

