@import 'vars';

*{
    padding:0;
    margin:0;
    font-family: $head-font;
}
  
  html, body, #root{
    width: 100%;
    height: 100%;
  }

.overflow-none{
    overflow: hidden;
}

.navbar{
  background-color: $navbar;

}

.logo-text{
  font-weight: bolder;
  transform: scale(2);
  margin: 0 1rem;
}

