@font-face {
    font-family: CalibreTest;
    src: url(./assets/CalibreTest-Regular.otf);
}

$head-font: CalibreTest;

$navbar : #0072CE;
$skew-color : #005EB8;
$call-button : #07b15c;

$skew-svg : 'misc/assets/background-skew.svg';